<h1>Edite seu post</h1>

<form action="/edite" method="post">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <br>
    <button type="submit">Edite postagem</button>
</form>